/* #app { height: 100% } */
html,
body {
  position: relative;
  height: 100%;
}

.teacher body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.teacher .swiper {
  width: 100%;
  margin: 0 0 0 -5%;
  padding: 0!important;
  /* padding-top: 50px;
  padding-bottom: 50px; */
}

.teacher .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 95%;
  /* height: 300px; */
}

/* .teacher .swiper-slide img {
  display: block;
  width: 100%;
} */
